<footer class="template--section section--footer">
	<span id="footerCopyright"></span>
</footer>
<script type="module">
	document.getElementById("footerCopyright").innerHTML = `©${new Date().getFullYear()} by Rahman Malik`;
</script>
