<p class="template--section section--meta">
	<span class="version"><code>{{ version }}</code></span>
	<span class="creator">{{ creator.name }} <code>{{ creator.version }}</code></span>
</p>
{{!--
schema {
	'$schema': 'http://json-schema.org/draft-04/schema#',
	description: '',
	type: 'object',
	properties: {
		version: {
			type: 'string',
			minLength: 1
		},
		creator: {
			type: 'object',
			properties: {
				name: { type: 'string', minLength: 1 },
				version: { type: 'string', minLength: 1 }
			},
			required: [ 'name', 'version' ]
		},
		pages: { type: 'array', uniqueItems: true, minItems: 1, items: [Object] },
		entries: { type: 'array', uniqueItems: true, minItems: 1, items: [Object] }
	},
	required: [ 'version', 'creator', ... ]
}
--}}
